<%= page_title 'Dashboard', no_h1=true %>

<h2>Selections</h2>
<p>The community has spoken. <strong><%= link_to 'Behold the winning proposals', selections_path %>!</strong></p>

<h2>Your proposals</h2>
<% if @your_proposals.present? %>
  <ul id="your-proposals">
    <% @your_proposals.each do |proposal| %>
      <%= content_tag_for(:li, proposal) do%>
        <%= link_to proposal.title, proposal %>
        <span class="age"><%= time_ago_in_words proposal.last_modified %> old</span>
        <% if proposal.new_suggestions.any? %>
          <%= pluralize proposal.new_suggestions.count, "new suggestion" %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "Propose #{'another' if @your_proposals.present?} talk", new_proposal_path %></p>

<% if @proposals_you_should_look_at.present? %>
  <h2>You should consider giving some suggestions about these proposals</h2>
  <ul id="you-should-look-at-these">
    <% @proposals_you_should_look_at.each do |proposal| %>
      <li>
        <%= link_to proposal.title, proposal %>
        <span class="age"><%= time_ago_in_words proposal.last_modified %> old</span>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @proposals_that_have_changed.present? %>
  <h2>These proposals have been updated since you last made a suggestion</h2>
  <ul id="things-have-changed">
    <% @proposals_that_have_changed.each do |proposal| %>
      <li>
        <%= link_to proposal.title, proposal %>
        <span class="age"><%= time_ago_in_words proposal.last_modified %> old</span>
      </li>
    <% end %>
  </ul>
<% end %>
