<%= page_title 'Dashboard', no_h1=true %>

<h2>Your proposals</h2>
<p class='alert'>Since they are anonymised, other users will not see that you are the author of these proposals. <%= link_to "Read more about the process", about_path %>.</p>
<% if @your_proposals.present? %>
  <ul id="your-proposals" class="proposals">
    <% @your_proposals.each do |proposal| %>
      <%= content_tag_for(:li, proposal) do%>
        <%= link_to proposal.title, proposal %>
        <span class="age"><%= time_ago_in_words proposal.last_modified %> old</span>
        <% if proposal.new_suggestions.any? %>
          <%= pluralize proposal.new_suggestions.count, "new suggestion" %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "Propose #{'another' if @your_proposals.present?} talk", new_proposal_path, class: "btn btn-primary" %></p>

<% if @proposals_you_should_look_at.present? %>
  <h2>You should consider reviewing these proposals</h2>
  <ul id="you-should-look-at-these" class="proposals">
    <% @proposals_you_should_look_at.each do |proposal| %>
      <%= content_tag_for :li, proposal do %>
        <%= link_to proposal.title, proposal %>
        <span class="age">updated <%= time_ago_in_words proposal.last_modified %> ago</span>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @proposals_that_have_changed.present? %>
  <h2>These proposals have been updated since you last made a suggestion</h2>
  <ul id="things-have-changed" class="proposals">
    <% @proposals_that_have_changed.each do |proposal| %>
      <%= content_tag_for :li, proposal do %>
        <%= link_to proposal.title, proposal %>
        <span class="age">updated <%= time_ago_in_words proposal.last_modified %> ago</span>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @proposals_that_have_been_withdrawn.present? %>
  <h2>These proposals you made suggestions on have been withdrawn</h2>
  <ul id="things-have-ended" class="proposals">
    <% @proposals_that_have_been_withdrawn.each do |proposal| %>
      <%= content_tag_for :li, proposal do %>
        <%= link_to proposal.title, proposal %>
        <span class="age">updated <%= time_ago_in_words proposal.last_modified %> ago</span>
      <% end %>
    <% end %>
  </ul>
<% end %>
