<%= page_title @talk.title %>

<div id="whos_involved">
  <h2>Who's involved?</h2>
  <%= render '/talks/contributors', :talk => @talk %>
</div>

<ul class="actions">
  <%- if user_signed_in? -%>
  <li class="action"><%= link_to 'Provide more detail', edit_talk_path(@talk) %></li>
  <%- else -%>
  <li>Sorry, you have to be logged in to provide more detail on talks.  Why not <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>?</li>
  <%- end -%>
  <li class="action"><%= link_to 'Back to talks', talks_path %></li>
</ul>

<div id="abstract">
  <%- if @talk.abstract.present? -%>
  <p><%= @talk.abstract %></p>
  <%- else -%>
  <p class="missing">No abstract has been provided yet.  <%-
    if user_signed_in?
    -%><%= link_to 'Why don\'t you fill it in?', edit_talk_path(@talk) %><%-
    else
    -%>Why not <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> so you can fill it in?<%-
    end
  -%></p>
  <%- end -%>
</div>

<div id="outline">
  <%- if @talk.outline.present? -%>
  <p><%= @talk.outline %></p>
  <%- else -%>
  <p class="missing">No outline has been provided yet.  <%-
    if user_signed_in?
    -%><%= link_to 'Why don\'t you fill it in?', edit_talk_path(@talk) %><%-
    else
    -%>Why not <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> so you can fill it in?<%-
    end
  -%></p>
  <%- end -%>
</div>

<div id="why_its_interesting">
  <%- if @talk.why_its_interesting.present? -%>
  <p><%= @talk.why_its_interesting %></p>
  <%- else -%>
  <p class="missing">Nothing about why this talk is interesting has been provided yet.  <%-
    if user_signed_in?
    -%><%= link_to 'Why don\'t you fill it in?', edit_talk_path(@talk) %><%-
    else
    -%>Why not <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> so you can fill it in?<%-
    end
  -%></p>
  <%- end -%>
</div>

<div id="feedback">
  <%= render '/talks/feedback_info', :talk => @talk %>
  <div id="feedback_items">
    <%= render @talk.feedbacks.order('created_at') %>
  </div>
  <div id="feedback_actions">
    <%- if user_signed_in? -%>
    <%= simple_form_for [@talk, @new_feedback] do |f| %>
      <%= f.error_notification %>
      <%= f.input :content %>
      <%= f.button :submit %>
    <% end %>
    <%- else -%>
    <p>Sorry, you have to be logged in to leave feedback on talks.  Why not <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>?</p>
    <%- end -%>
  </div>
</div>