<section id="title">
  <%= image_tag(avatar_url(@user), :class => "avatar") %>
  <%= page_title "#{possessive} profile" %>
  <%= if_feature(:motivation) do %>
  <section id="user">
    <% if @user.signup_reason.present? %>
    <article id="signup_reason">
      <%= markdown @user.signup_reason %>
      <% if @user == current_user %><aside><%= link_to t("vestibule.user.motivation.actions.edit"), edit_user_path(current_user) %></aside><% end %>
    </article>
    <% else %>
      <% if @user == current_user %>
      <p class="well"><%=t("vestibule.user.motivation.missing.your", :link => link_to(t("vestibule.user.motivation.missing.link"), edit_user_path(current_user))).html_safe %></p>
      <% else %>
      <p><%=t "vestibule.users.motivation.missing.other", :name => user_name %></p>
      <% end %>
    <% end %>
  </section>
  <% end %>
</section>

<div class="row">
  <% if current_user == @user %>
    <div class="span6">
      <section id="proposals">
        <h2><%=t "vestibule.user.proposals.your.title" %></h2>
        <p><%=t "vestibule.user.proposals.your.anonymised.html", :link => link_to(t("vestibule.user.proposals.your.anonymised.link"), anonymous_proposals_path) %></p>
        <% if @user.proposals.any? %>
          <ul>
          <% @user.proposals.each do |proposal| %>
            <li><%= link_to proposal.title, proposal %></li>
          <% end %>
          </ul>
        <% else %>
          <p><%=t "vestibule.user.proposals.your.none", :name_or_pronoun => to_have %></p>
        <% end %>
      </section>
    </div>
    <div class="span6">
  <% else %>
    <div class="span12"%>
  <% end %>
    <section id="involvement">
      <h2><%=t "vestibule.user.proposals.involved.title", :name_is_or_are => to_be(false) %></h2>

      <% if (other_proposals = @user.proposals_of_interest.not_proposed_by(@user)).any? %>
        <ul>
        <% other_proposals.each do |proposal| %>
          <li><%= link_to proposal.title, proposal %></li>
        <% end %>
        </ul>
      <% else %>
        <p><%=t "vestibule.user.proposals.involved.none", :name_is_or_are => to_be %></p>
      <% end %>
    </section>
  </div>
</div>
