<%= page_title 'Motivations', no_h1=true %>
<h2>Why do you care about <%= Settings.event_name %>?</h2>
<p>We&rsquo;re interested in what <em>you</em> are hoping to get out of <%= Settings.event_name %>, so that we - and that&rsquo;s everyone else, from speakers to other attendees - can help <em>you</em> achieve that.</p>

<p>Here&rsquo;s a sampling:</p>

<% @users.each do |user| %>
  <blockquote><cite><%= link_to user.name, user %>:</cite><%= markdown user.signup_reason %></blockquote>
<% end %>

<hr />

<h2 id="slackers">These people haven&rsquo;t told you what they care about yet...</h2>

<%= @slackers.map { |l| link_to(l.name, l) }.to_sentence.html_safe %>
