<% if !can?(:see, :agenda) && !user_signed_in? %>
  <p>The agenda isn't visible yet; why not <%= link_to "sign in", "/auth/github" %> to cast your votes?</p>
<% end %>

<% if can?(:see, :agenda) %>
  <div class="agenda">
    <h1>Chosen Proposals</h1>

    <p>There will be <strong>8</strong> talks given at Ruby Manor 4.  The choice made by the community is listed below, and if the proposer has confirmed they are happy to give the talk we reveal who they are.</p>

    <ol id="the_chosen_ones">
      <% @top_proposals.each do |popular_proposal|
        votes, proposal = *popular_proposal
        %>
        <%= content_tag_for :li, proposal, :class => 'top' do %>
          <%= link_to proposal.title, proposal %><%= show_proposal_author_if_allowed(proposal) %> <span>(<%= votes %> votes)</span>
        <% end %>
      <% end %>
    </ol>
  </div>
<% end %>

<% if user_signed_in? %>
  <h1>Your selections</h1>

  <% unless can?(:make, :selection) %>
    <p>Here are the selections you made:</p>
  <% end %>

  <ul id="selections">
    <% current_user.selections.each do |selection| %>
      <%= content_tag_for :li, selection.proposal, 'selection' do %>
        <% if can?(:make, :selection) %>
          <%= button_to('Deselect', selection, method: :delete, class: "btn") %>
        <% end %>
        <%= link_to selection.proposal.title, selection.proposal %><%= show_proposal_author_if_allowed(selection.proposal) %>
      <% end %>
    <% end %>
  </ul>

  <% if can?(:make, :selection) %>
    <% if (remaining = (Selection.limit_per_user - current_user.selections.count)) > 0 %>
      <h2><%= pluralize remaining, "Selection" %> left!</h2>
    <% else %>
      <h2>Deselect some above to choose others</h2>
    <% end %>

    <ul id="available_selections">
    <% @proposals.each do |proposal| %>
      <%= content_tag_for :li, proposal, 'selection' do %>
        <%= form_for Selection.new do |form| %>
          <%= form.hidden_field :proposal_id, value: proposal.id %>
          <%= form.submit "Select", disabled: (remaining == 0 ? 'disabled' : nil), class: "btn" %>
        <% end %>
        <%= link_to proposal.title, proposal_path(proposal) %><%= show_proposal_author_if_allowed(proposal) %>
      <% end %>
    <% end %>
    </ul>
  <% end %>
<% end %>
