<h1>Your selections</h1>

<ul id="selections">
  <% current_user.selections.each do |selection| %>
    <%= content_tag_for :li, selection.proposal do %>
      <%= button_to "Deselect", selection_path(selection), method: :delete %>
      <%= link_to selection.proposal.title, selection.proposal %>
    <% end %>
  <% end %>
</ul>

<% if (remaining = (Selection.limit_per_user - current_user.selections.count)) > 0 %>
  <h2><%= pluralize remaining, "Selection" %> left!</h2>
<% else %>
  <h2>Deselect some above to choose others</h2>
<% end %>

<ul id="available_selections">
<% @proposals.each do |proposal| %>
  <%= content_tag_for :li, proposal do %>
    <%= form_for Selection.new do |form| %>
      <%= form.hidden_field :proposal_id, value: proposal.id %>
      <%= form.submit "Select", disabled: (remaining == 0 ? 'disabled' : nil) %>
    <% end %>
    <%= link_to proposal.title, proposal_path(proposal) %>
  <% end %>
<% end %>
</ul>