<h1>Top 10 Proposals</h1>

<ol id="the_chosen_ones">
  <% @top_proposals.each do |popular_proposal|
    votes, proposal = *popular_proposal
    %>
    <%= content_tag_for :li, proposal, :class => 'top' do %>
      <%= link_to proposal.title, proposal %> <span>(<%= votes %> votes)</span>
    <% end %>
  <% end %>

  <% @next_proposals.each do |popular_proposal|
    votes, proposal = *popular_proposal
    %>
    <%= content_tag_for :li, proposal, :class => 'next' do %>
      <%= link_to proposal.title, proposal %> <span>(<%= votes %> votes)</span>
    <% end %>
  <% end %>
</ol>

<% if user_signed_in? %>
<h1>Your selections</h1>

<ul id="selections">
  <% current_user.selections.each do |selection| %>
    <%= content_tag_for :li, selection.proposal do %>
      <%= link_to selection.proposal.title, selection.proposal %>
    <% end %>
  <% end %>
</ul>
<% end %>