<div class="hero-unit">
    <%= page_title "#{Settings.event_name} Call for Presentations" %>

    <p>
        Be part of <%= Settings.event_name %>:
        we highly encourage you to submit as many proposals as you want,
        help the authors make theirs better
        and finally select the most interesting ones for the final agenda!
        What are you waiting for?
    </p>

    <p>
    <% if user_signed_in? %>
        <%= link_to "Propose a talk", new_proposal_path, :class => 'btn btn-primary' %>
    <% else %>
        <div class="btn-group">
            <%= link_to 'Join the party', '#', :class => 'btn btn-primary dropdown-toggle', :data => {:toggle => 'dropdown'} %>
            <ul class="dropdown-menu">
                <li><span style="padding-left: 10px;">Sign in with...</span></li>
                <li class="divider"></li>
                <%= authentication_links :li %>
            </ul>
        </div>
    <% end %>

    or <%= link_to 'read more about our process', about_path %>.
    </p>
</div>

<section>
    <h2>
        Talk proposals
        <%= link_to :format => :rss do %>
            <%= image_tag 'feed-icon-14x14.png' %>
        <% end %>
    </h2>

  <ul class="proposals">
    <% for proposal in @proposals %>
      <%= content_tag_for :li, proposal do %>
        <%= link_to proposal.title, proposal %>
        <span class="age"><%= proposal_update_information proposal %></span>
      <% end %>
    <% end %>
  </ul>
</section>

<% if @withdrawn_proposals.any? %>
<section>
  <p>The following proposals have been withdrawn:</p>
  <ul class="proposals">
    <% for proposal in @withdrawn_proposals %>
      <%= content_tag_for :li, proposal do %>
        <%= link_to proposal.title, proposal %>
        <span class="age"><%= proposal_update_information proposal %></span>
      <% end %>
    <% end %>
  </ul>
</section>
<% end %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :rss, :format => :rss %>
<% end %>
