<%= page_title 'Talk proposals' %>

<ul class="proposals">
  <% for proposal in @proposals %>
    <li>
      <%= link_to proposal.title, proposal %>
      <span class="age"><%= time_ago_in_words proposal.last_modified %> old</span>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to "Propose talk", new_proposal_path %>
<% end %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :rss, :format => :rss %>
<% end %>
