<section>
  <%= page_title "#{Settings.event_name} Talk proposals", true %>

  <h2>
    Talk proposals
    <%= link_to :format => :rss do %>
      <%= image_tag 'feed-icon-14x14.png' %>
    <% end %>
  </h2>

  <% if user_signed_in? %>
    <div class="action">
      <%= link_to "Propose talk", new_proposal_path, class: "btn btn-primary btn-large" %>
    </div>
  <% end %>

  <ul class="proposals">
    <% for proposal in @proposals %>
      <%= content_tag_for :li, proposal do %>
        <%= link_to proposal.title, proposal %>
        <span class="age"><%= proposal_update_information proposal %></span>
      <% end %>
    <% end %>
  </ul>
</section>

<% if @withdrawn_proposals.any? %>
<section>
  <p>The following proposals have been withdrawn:</p>
  <ul class="proposals">
    <% for proposal in @withdrawn_proposals %>
      <%= content_tag_for :li, proposal do %>
        <%= link_to proposal.title, proposal %>
        <span class="age"><%= proposal_update_information proposal %></span>
      <% end %>
    <% end %>
  </ul>
</section>
<% end %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :rss, :format => :rss %>
<% end %>
