<p class="well">So you want to talk at <%= Settings.event_name %>? That's great! If you haven't already, you may wish to <%= link_to "read about the process", about_path %> to find out how everything works.</p>

<%= page_title 'Propose a talk' %>

<p><strong>NOTE:</strong> proposals are anonymous &mdash; <%= link_to "read more about the process", about_path %>.</p>

<%= render "form" %>
