<div class="row">
    <div id="proposal" class="hero-unit">
      <%= proposal_div(@proposal) do %>
        <%= page_title @proposal.title %>

        <% if @proposal.proposed_by?(current_user) %>
          <p>
            <%= link_to "Edit proposal", edit_proposal_path(@proposal), class: "btn btn-primary" %>
            <%= change_proposal_state_button(@proposal) %>
          </p>
        <% end %>
        <p class="age muted"><%= proposal_update_information @proposal %></p>

        <% if @proposal.withdrawn? %><h2 class="withdrawl_explanation">This proposal has been withdrawn...</h2><% end %>
        <div class="description"><%= markdown @proposal.description %></div>
      <% end %>
    </div>
</div>

<div class="row">
    <div id="suggestions">
      <% unless @proposal.suggestions.empty? %>
      <h2>Suggestions</h2>

      <ul class="suggestions">
        <% @proposal.suggestions.latest.each do |suggestion| %>
          <%= content_tag_for(:li, suggestion, :class => suggestion.author == @proposal.proposer ? 'alert alert-block alert-info' : '') do %>
            <h5 class="author">
              <% if suggestion.author == @proposal.proposer %>
                <% if current_user == @proposal.proposer %>
                  You respond
                <% else %>
                  The proposal author responds
                <% end %>
              <% else %>
                <%= render 'shared/user', :user => suggestion.author %> suggests
              <% end %>
              <span class="age"><%= time_ago_in_words suggestion.updated_at %> ago</span>
            </h5>
            <section class="body"><%= markdown suggestion.body %></section>
          <% end %>
        <% end %>
      </ul>
      <% end %>

      <% if user_signed_in? %>
        <div class="add-suggestion">
            <% if current_user == @proposal.proposer %>
                <p class="">You can respond to suggestions here. As the proposer of the talk, your identity will be masked from other visitors.</p>
            <% else %>
                <h2>Improve this proposal</h2>
                <p class="">Help develop this into a good proposal by asking questions about anything that isn't clear, making suggestions about what to include or avoid, and asking for more detail or clarifications.</p>
            <% end %>
        </div>

        <%= simple_form_for [@proposal, @suggestion] do |f| %>
          <% if notification = f.error_notification %>
            <div class="alert alert-error fade in">
              <%= notification %>
            </div>
          <% end %>

          <%= f.input :body, as: :markdown, input_html: {rows: 10} %>
          <%= f.button :submit, "Make your suggestion", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
<% content_for :head do %>
  <%= auto_discovery_link_tag :rss, :format => :rss %>
<% end %>
