<div id="proposal" class="span-12">
  <div class="proposal">
    <h1><%= @proposal.title %></h1>
    <div class="description"><%= markdown @proposal.description %></div>
    <p class="proposer">Proposed by: <%= render 'shared/user', :user => @proposal.proposer %> <span class="age">updated <%= time_ago_in_words @proposal.updated_at %> ago</span></p>
  </div>

  <% if @proposal.proposed_by?(current_user) %>
    <%= link_to "Edit proposal", edit_proposal_path(@proposal) %>
  <% end %>
</div>

<div id="suggestions" class="push-2 span-10 last">
  <h2>Suggestions</h2>
  <% if user_signed_in? %>
    <p>Help <%= @proposal.proposer.name %> develop this into a good proposal by asking questions about anything that isn't clear, making suggestions about what to include or avoid, and asking for more detail or clarifications.</p>

    <%= blueprint_form_for [@proposal, @suggestion], :blueprint_size => 10 do |f| %>
      <%= f.error_notification %>
      <%= f.input :body, :label => "What would make this proposal better?", :blueprint_error_wrapper_html => {:class => 'span-10'} %>
      <%= f.button :submit, "Make your suggestion" %>
    <% end %>
  <% end %>

  <ul class="suggestions">
    <% @proposal.suggestions.latest.each do |suggestion| %>
      <%= content_tag_for(:li, suggestion) do %>
        <p class="author"><%= render 'shared/user', :user => suggestion.author %> suggests: <span class="age"><%= time_ago_in_words suggestion.updated_at %> ago</span></p>
        <section class="body"><%= markdown suggestion.body %></section>
      <% end %>
    <% end %>
  </ul>
</div>

<% content_for :head do %>
  <%= auto_discovery_link_tag :rss, :format => :rss %>
<% end %>
