<!DOCTYPE html>
<html>
<head>
  <title><%= render_page_title %></title>

  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300italic' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
  <% if Settings.google_analytics.enabled %>
  <%= render 'shared/analytics' %>
  <% end %>
</head>
<body class="" data-spy="scroll" data-target="#sidenav">
  <div class="">

    <div id="nav">
      <ul class="centered clearfix">
        <li><a class="ir" href="/">Euruko 2013</a></li>
        <% if user_signed_in? -%>
          <li class="dropdown <%= 'active' if active_nav?(dashboard_path, user_path(current_user)) %>">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu sign-in">
                <% if can?(:see, :dashboard) -%><p><%= link_to "Dashboard", dashboard_path %></p><% end -%>
                <% if can?(:read, Proposal) -%><p><%= link_to "All proposals", proposals_path %></p><% end -%>
                <% if can?(:read, current_user) -%><p><%= link_to "Your profile", user_path(current_user) %></p><% end -%>
                <% if can?(:destroy, :session) -%><p><%= link_to "Sign out", logout_path %></p><% end -%>
            </ul>
          </li>
        <% elsif can?(:create, :session) -%>
          <li class="dropdown sign-in">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Sign in
              <b class="caret"></b>
            </a>
            <div class="dropdown-menu">
              <%= authentication_links :p %>
            </div>
          </li>
        <% end -%>

        <li><%= link_to "Blog", 'http://euruko2013.org/blog/' %></li>
        <li><%= link_to "Contact", 'http://euruko2013.org/#contact' %></li>
        <% if can?(:read, Proposal) -%><li><%= link_to "Proposals", proposals_path %></li><% end -%>
        <li><%= link_to "Sponsors", 'http://euruko2013.org/#sponsors' %></li>
        <li><%= link_to "Venue", 'http://euruko2013.org/#venue' %></li>
        <li><%= link_to "Tickets", 'http://euruko2013.org/#tickets' %></li>
        <li><%= link_to "Speakers", 'http://euruko2013.org/#speakers' %></li>
        <li><%= link_to "About", 'http://euruko2013.org/#about' %></li>
       </ul>
    </div>


    <div id="cfp">
      <div class="section">
        <section id="notices">
          <%= render "shared/notices" %>

          <% if remind_account_for_signup_reason -%>
          <div class="alert">
            Other attendees are wondering what you hope to get out of <%= Settings.event_name %>.
            <%= link_to "Tell them now", edit_user_path(current_user) %>.
          </div>
          <% end -%>
        </section>

        <%= yield %>
      </div>
      <footer>
        <p><%= link_to "Code of conduct", 'http://euruko2013.org/codeofconduct' %></p>
        <p><%= link_to "About the CfP process", about_path %></p>
        <p><%= link_to "Motivations", motivation_path %></p>
      </footer>
    </div>
  </div>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "a4771cba-dcbc-4ec6-9e9c-4abbf20f04c1", doNotHash: false, doNotCopy: false, hashAddressBar: false, servicePopup:true});</script>
</body>
</html>
