<!DOCTYPE html>
<html>
<head>
  <title><%= render_page_title %></title>
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
  <%= render 'shared/analytics' %>
</head>
<body class="<%= body_class %>">
  <div class="container">
    <header>
      <div class="row">
        <div class="span5">
          <div class="brand">
            <h1><%= link_to "Vestibule", root_path %></h1>
            <p>Building <a href="http://rubymanor.org">Ruby Manor</a> as a community</p>
          </div>
        </div>

        <div class="span7">
          <ul class="nav nav-pills pull-right">
            <li<%= active_nav_class(about_path, anonymous_proposals_path, the_vestibule_process_path) %>><%= link_to "About", about_path %></li>
            <li<%= active_nav_class(proposals_path) %>><%= link_to "Proposals", proposals_path %></li>
            <li<%= active_nav_class(motivation_path, complete_motivation_path) %>><%= link_to "Motivations", motivation_path %></li>
            <% if can?(:see, :agenda) %><li<%= active_nav_class(selections_path) %>><%= link_to 'Agenda', selections_path %></li><% end %>
            <% if user_signed_in? -%>
              <li class="dropdown <%= 'active' if active_nav?(dashboard_path, user_path(current_user)) %>">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                  <%= current_user.name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li<%= active_nav_class(dashboard_path) %>><%= link_to "Dashboard", dashboard_path %></li>
                  <li><%= link_to "All proposals", proposals_path %></li>
                  <li<%= active_nav_class(user_path(current_user)) %>><%= link_to "Your profile", user_path(current_user) %></li>
                  <% if can?(:make, :selection) %><li<%= active_nav_class(selections_path) %>><%= link_to 'Selections', selections_path %></li><% end %>
                  <li><%= link_to "Sign out", logout_path %></li>
                </ul>
              </li>
            <% else -%>
              <li><%= link_to "Sign in with Github", "/auth/github" %></li>
            <% end -%>
          </ul>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="span12">
        <section id="notices">
          <%= render "shared/notices" %>

          <% if remind_account_for_signup_reason -%>
          <div class="alert">
            Other attendees are wondering what you hope to get out of Ruby Manor.
            <%= link_to "Tell them now", edit_user_path(current_user) %>.
          </div>
          <% end -%>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <section id="content">
          <%= yield %>
        </section>
      </div>
    </div>
  </div>
</body>
</html>
